
{% block title %}<title>Donor List</title>{% endblock %}
{% block contents %}

<style>
    .borderr {
        border-radius: 12px;
        border: 1px;
    }

    p b {
        color: #d9534f;
        font-size: 20px;
    }

    p b:hover {
        text-decoration: underline;
    }
</style>

<div class="container">
    <div class="p-5">
        <div class="shadow-lg p-5 mb-3 bg-white w-50 borderr mx-auto">
            <h3 class="text-center">{{form.name.data}} Registration Is Successfull....</h3>
             <a class="btn btn-primary" href="{% url 'blood:logout' %}"><input type="submit" value="Logout"></a>
        </div>

    </div>
</div>

{% endblock %}